<section>
    <h3>{{ T "sidebar_heading_1" }}</h3>
    <img src='{{ relURL "images" }}/sponsors/ube.png' class="sponsor"/><br><br>
    <img src='{{ relURL "images" }}/sponsors/go-in.png' class="sponsor"/>
    <img src='{{ relURL "images" }}/sponsors/kunz.png' class="sponsor"/><br><br><br>
    <img src='{{ relURL "images" }}/sponsors/swisslos.png' class="sponsor"/><br><br><br>
    <img src='{{ relURL "images" }}/sponsors/reka.png' class="sponsor"/><br><br><br>
    <img src='{{ relURL "images" }}/sponsors/ckw.png' class="sponsor"/><br><br><br>
    <img src='{{ relURL "images" }}/sponsors/clientis.png' class="sponsor"/>
    <footer>
    </footer>
</section>
