<section>
    <h3>{{ T "sidebar_heading_1" }}</h3>
    <a href="https://www.biosphaere.ch/" target="_blank"><img src='{{ relURL "images" }}/sponsors/ube.png' class="sponsor"/></a><br><br>
    <a href="https://go-in.ch/" target="_blank"><img src='{{ relURL "images" }}/sponsors/go-in.png' class="sponsor"/></a>
    <a href="https://go-in.ch/kunzsport/" target="_blank"><img src='{{ relURL "images" }}/sponsors/kunz.png' class="sponsor"/></a><br><br><br>
    <a href="https://sport.lu.ch/swisslos/" target="_blank"><img src='{{ relURL "images" }}/sponsors/swisslos.png' class="sponsor"/></a><br><br><br>
    <a href="https://reka.ch/" target="_blank"><img src='{{ relURL "images" }}/sponsors/reka.png' class="sponsor"/></a><br><br><br>
    <a href="https://ckw.ch/" target="_blank"><img src='{{ relURL "images" }}/sponsors/ckw.png' class="sponsor"/></a><br><br><br>
    <a href="https://eb.clientis.ch/" target="_blank"><img src='{{ relURL "images" }}/sponsors/clientis.png' class="sponsor"/></a>
    <footer>
    </footer>
</section>
